# Dépendances
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Fichiers d'environnement
.env
.env.local
.env.*.local

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers de build
dist/
build/

# Logs
logs/
*.log

# Fichiers temporaires
tmp/
temp/ 